{% extends 'base.html.twig' %}

{% block body %}
    <h1>Album</h1>

    <table>
        <tbody>
        <tr>
            <td><img src="{{ asset('uploads/images/'~album.image) }}"></td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ album.id }}</td>
        </tr>
        <tr>
            <th>Titrealbum</th>
            <td>{{ album.titreAlbum }}</td>
        </tr>
        <tr>
            <th>Artiste</th>
            <td>{{ album.artiste }}</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>{{ album.genre }}</td>
        </tr>
        <tr>
            <th>Support</th>
            <td>{{ album.support }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}